<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body {
            background-color: ivory;
            color: khaki;
        }
    </style>
</head>

<body>
    <h1>Missions to Mars</h1>
    <ul>
        <% for (let i = 0; i < allDrinks.length; i++) { %>
            <li>
                <a href="/drinks/<%=i%>">
                    <%=allDrinks[i]
                    .name.toLowerCase().split(/ +/)
                    .map(word => word.slice(0, 1).toUpperCase() + word.slice(1))
                    .join(' ');%>
                </a>
                <!-- What would you recommend at the time of doing this? How would you capitalize it in an easier way? 
                I have seen other methods but they all pretty similar -->
            </li>
            <% } %>
    </ul>
</body>

</html>