<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>gitPub</title>
    <style>
        body {
            background-color: ivory;
            color: khaki;
            text-align: center;
        }
        
        ul {
            list-style-type: none;
        }
        
        li {
            padding-bottom: 5px;
        }
    </style>
</head>

<body>
    <h1>Welcome to gitPub</h1>
    <ul>
        <% for (let i = 0; i < allDrinks.length; i++) { %>
            <li>
                <a href="/drinks/<%=i%>">
                    <%=allDrinks[i]
                    .name.toLowerCase().split(/ +/)
                    .map(word => word.slice(0, 1).toUpperCase() + word.slice(1))
                    .join(' ');%>
                </a>
                <!-- What would you recommend at the time of doing this? How would you capitalize it in an easier way? 
                I have seen other methods but they all pretty similar -->
            </li>
            <% } %>
    </ul>
</body>

</html>