<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>gitPub</title>
    <style>
        body {
            background-color: ivory;
            color: khaki;
            text-align: center;
        }
    </style>
</head>

<body>
    <a href="/drinks">Back to Index</a>
    <h1>At foo bar</h1>
    <h2>
        <%= drinks.name.toLowerCase().split(/ +/)
        .map(word => word.slice(0, 1).toUpperCase() + word.slice(1))
        .join(' ');%> %>
    </h2>
    <img src="<%= drinks.image.replace('jpg', 'png') %>" />
    <h3> Price:
        <%= drinks.price %> Bitcoin/s
    </h3>

</body>

</html>